.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        flex: 1;
        background: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        // khi gõ thì biểu tượng tìm kiếm sáng lên
        color: var(--black);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: 9px;
        right: 52px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.85);
}
.clear,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
        color: black;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
